* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Noto Sans", sans-serif;
    background: #0c0c0c;
    margin: 0px;
    padding: 0px;
    color: #ccc;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: absolute;
    width: 100%;
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a.mask {
    cursor: pointer;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 8;
}

.desktop-hidden {
    display: none !important;
}

.mobile-hidden {
    display: block;
}

button {
    border: 0px;
    border-radius: 4px;
    background: #333;
    color: #ccc;
    position: relative;
    padding: 2px 4px;
}

button:hover {
    cursor: pointer;
}

button.coming-soon:before {
    display: block;
    content: "Coming Soon";
    position: absolute;
    top: -5px;
    right: -15px;
    font-size: 10px;
    border-radius: 8px;
    z-index: 10;
    padding: 2px 4px;
    background: #111;
    background: linear-gradient(
        90deg,
        rgba(207, 0, 0, 1) 0%,
        rgba(255, 98, 0, 1) 100%
    );
}

button.primary {
    background: #0f73ad;
}

button.secondary {
    background: #159151;
}

input[type="text"],
input[type="search"] {
    border: 0px;
    border-radius: 4px;
    background: #222;
    color: #ccc;
    font-size: 14px;
    min-height: 24px;
    padding: 2px 8px;
}

.logo {
    height: 80px;
    width: 100%;
    display: block;
}

header {
    background: #900;
}

aside {
    background: #111;
    width: 90px;
}

aside ul {
    margin: 0px;
    padding: 0px;
}

aside ul li {
    list-style: none;
    margin: 0px;
    text-align: center;

    margin-bottom: 10px;
}

aside ul li .icon {
    font-size: 20px;
    margin-bottom: 4px;
}

aside ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #ccc;
    padding: 5px 0px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s;
    position: relative;
}

aside ul li a.exact-active,
aside ul li a:hover {
    background-color: rgba(0.1, 0.1, 0.1, 0.5);
}

aside ul li a.exact-active:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    background: #cf0000;
    background: linear-gradient(
        90deg,
        rgba(207, 0, 0, 1) 0%,
        rgba(255, 98, 0, 1) 100%
    );
    right: 0px;
    top: 0px;
}

aside ul li a.exact-active > div {
    background: #cf0000;
    background: linear-gradient(to left, #cf0000 0%, #ffe600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.step-container {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.step-card a {
    color: #ccc;
    text-decoration: none;
}

.step-card {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    text-align: center;
    flex-direction: column;
    background-color: #333;
    border: solid 2px #222;
    border-radius: 12px;
    margin: 0 20px;
    position: relative;
    padding: 40px 0px;
}

.step-card .icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.step-card:hover {
    background: #cf0000;
    background: linear-gradient(to left, #cf0000 0%, #ffe600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .step-card::before,
.step-card::after {
    content: "";
    position: absolute;

    inset: -2px;
    z-index: -1;
    border-radius: inherit;

    background: conic-gradient(from var(--angle), transparent 5%, #a00, #cc0);
    animation: spin 5s linear infinite;
}

.step-card::before {
    filter: blur(1.5rem);
    opacity: 0.8;
} */

.mobile-menu-toggle {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 5px;
    z-index: 9;
    top: 5px;
    transition: right 0.2s;
}

.results {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.results li{
    width: 25%;
    display: flex;
    position: relative;
    list-style: none;
    aspect-ratio: 4/3;
}
.avatar-item,
.clip-item,
.transfer-item,
.plate-item,
.final-item {
    margin: 5px;
    width: calc(100% - 10px);
    position: relative;
}

.avatar-item .thumbnail,
.clip-item .thumbnail,
.transfer-item .thumbnail,
.plate-item .thumbnail,
.final-item .thumbnail{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.avatar-item a,
.clip-item a,
.transfer-item a,
.plate-item a,
.final-item a {
    width: 100%;
    position: relative;
}

.fade-mask {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #000000;
    bottom: 0px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
}

.tag {
    border-radius: 12px;
    background: #333;
    font-size: 12px;
    padding: 2px 8px;
}

.avatar-item .name,
.clip-item .name,
 .transfer-item .name,
.plate-item .name,
.final-item .name {
    width: calc(100% - 10px);
    text-align: center;
    position: absolute;
    bottom: 10px;
    line-height: 32px;
}

.content-container {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

.main-content {
    flex-grow: 1;
}

.row-container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

@media only screen and (max-width: 1199px) {
    .row-container {
        width: 980px;
    }
}

@media only screen and (max-width: 980px) {
    .row-container {
        width: 768px;
    }
    .results li{
        width: 33.3333%;
    }

    .avatar-item,
    .clip-item,
    .transfer-item,
    .plate-item,
    .final-item {
        
    }
}

@media only screen and (max-width: 767px) {
    .row-container {
        width: 420px;
    }
    .desktop-hidden {
        display: block !important;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-menu-toggle {
        display: block;
        width: 24px;
        margin: 10px;
    }

    .results li{
        width: 100%;
    }

    .mobile-menu-toggle.side {
        right: 205px;
    }

    .mobile-menu-toggle hr,
    .mobile-menu-toggle:before,
    .mobile-menu-toggle:after {
        display: block;
        content: "";
        background: #fff;
        height: 3px;
        width: 24px;
        margin: 5px 0px;
        border: none;
    }
}
