* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Noto Sans", sans-serif;
    background: #0c0c0c;
    margin: 0px;
    padding: 0px;
    color: #CCC;
}

#__nuxt {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: absolute;
    width: 100%;
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a.mask {
    cursor: pointer;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 8;
}

.desktop-hidden {
    display: none !important;
}

.mobile-hidden {
    display: block;
}

.logo{
    height: 80px;
    width: 100%;
    display: block;
}

header {
    background: #900;
}
aside {
    background: #111;
    width: 90px;
}

aside ul {
    margin: 0px;
    padding: 0px;
}
aside ul li {
    list-style: none;
    margin: 0px;
    text-align: center;

    margin-bottom: 10px;
}

aside ul li .icon {
    font-size: 20px;
    margin-bottom: 4px;
}
aside ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #ccc;
    padding: 5px 0px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s;
    position: relative;
}

aside ul li a.exact-active,
aside ul li a:hover {
    background-color: rgba(0.1, 0.1, 0.1, 0.5);
    
}

aside ul li a.exact-active:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    background: #CF0000;
    background: linear-gradient(90deg,rgba(207, 0, 0, 1) 0%, rgba(255, 98, 0, 1) 100%);
    right:0px;
    top:0px;
}
aside ul li a.exact-active > div {
    background: #CF0000;
    background: linear-gradient(to left, #CF0000 0%, #FFE600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile-menu-toggle {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 5px;
    z-index: 9;
    top: 5px;
    transition: right 0.2s;
}

.content-container {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

.main-content {
    flex-grow: 1;
}

@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
    .desktop-hidden {
        display: block !important;
    }

    .mobile-hidden {
        display: none !important;
    }

    .mobile-menu-toggle {
        display: block;
        width: 24px;
        margin: 10px;
    }

    .mobile-menu-toggle.side {
        right: 205px;
    }

    .mobile-menu-toggle hr,
    .mobile-menu-toggle:before,
    .mobile-menu-toggle:after {
        display: block;
        content: "";
        background: #fff;
        height: 3px;
        width: 24px;
        margin: 5px 0px;
        border: none;
    }
}
